* {
  font-family: 'Roboto', sans-serif;
}
body {
  /*background-color: #FFF;*/
  background-color: white;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #FF0000;
  height: 0px;
  width: 100%;
  top: 0px;
  padding-top: 32px;
  position: fixed;
}
.number {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 8px;
  left: 95px;
}
.email {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 7px;
  left: 425px;
}
.emailImg{
  position: absolute;
  top: 8px;
  left: 400px;
  height: 16px;
  width: 16px;
}
.phoneImg{
  position: absolute;
  top: 10px;
  left: 69px;
  height: 16px;
  width: 16px;
}
.fbimg{
  position: absolute;
  top: 10px;
  left: 900px;
  height: 16px;
  width: 16px;
}
.linkedinimg{
  position: absolute;
  top: 10px;
  left: 950px;
  height: 16px;
  width: 16px;
}
.instagramimg{
  position: absolute;
  top: 11px;
  left: 1000px;
  height: 16px;
  width: 16px;
}
.navbar{
  background-color: #D8D8D8;
  width: 100%;
  height: 50px;
  top: 32px;
  position: fixed;
}
ul {
  list-style-type: none;
  margin-top: 0px;
  padding: 0;
  /*overflow: hidden;*/
  border: 1px solid #D8D8D8;
  background-color: #D8D8D8;
}
li {
  float: right;
  margin-top: 0px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: black;
}
li a.active {
  color: black;
  background-color: #4CAF50;
}
.header-img {
  background-image: url("images/jerseycityapartments.jpg");
  background-attachment: fixed;
  width: 100%;
  height: 700px;
}
.filter {
  filter: saturate(20%);
  filter: contrast(30%);
}
.tagline {
  color: white;
  font-size: 80px;
  position: absolute;
  display: block;
  margin: auto;
  top: 250px;
  left: 100px;
}
.button {
    background-color: #D8D8D8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top: 550px;
    left: 550px;
    position: absolute;
}
.picture{
  display: block;
  margin: auto;
  width: 10%;
  margin-top: 50px;
}
p {
  color: white;
}
.line1{
  display: block;
  width: 30%;
  margin: auto;
  margin-top: -50px;
  margin-left: 100px;
}
.line2{
  display: block;
  width: 30%;
  margin: auto;
  margin-top: -2px;
  margin-right: 100px;
}
h1{
  color: black;
  font-size: 20px;
  display: block;
  margin: auto;
  width: 100%;
  margin-top: 60px;
  /*border: 5px solid black;*/
  padding: 0px 20px;
  text-align: center;
}
.main-section{
  /*position: absolute;*/
  background-color: #D8D8D8;
  width: 100%;
  height: 300px;
  margin-top: 70px;
}
.description{
  font-size: 22px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  width: 90%;
  margin: auto;
}
